{# templates/emails/admin_verification.html.twig #}

<h1>Nouvel établissement à vérifier</h1>
<p>L'établissement {{ establishment.name }} a soumis ses documents pour vérification.</p>
<p>Veuillez vérifier les documents et activer l'établissement si tout est en ordre.</p>